body {
    margin: auto;
    padding: 5px 0px;
}
button {
    margin: auto;
}
.header-container{
    margin: 10px auto;
    width: 90vw;
    height: 15vh;
    background-color: lightblue;
    text-align: center;
}
.content-container {
    margin: 10px auto;
    width: 90vw;
    min-height: 65vh;
    background-color: lightblue;
}
.button-container{
    margin: 20px auto;
    border: 1px solid black;
    width: 50%;
    display: flex;
}
.js-questions-container{
    overflow: scroll;
}
#js-questions {
    margin: 10px auto;
    width: 75vw;
    height: 45%;
    background-color: white;
}
#questions:hover {
    background-color: black;
    color: white;
}
.js-answers{
    margin: 10px auto;
    width: 90%;
    height: 45%;
    background-color: white;
}
.js-questions{
    margin: 15px auto;
}
.hidden {
    visibility: hidden;
}